In [5]:
t = (10, 20, 30, 40)
print(t[0])   
print(t[2])

10
30

In [6]:
print(t[-1])  
print(t[-2])

40
30

In [7]:
t = (10, 20, 30, 40, 50)
print(t[1:4])  
print(t[:3])    
print(t[::2])

(20, 30, 40)
(10, 20, 30)
(10, 30, 50)

In [8]:
a = (1, 2)
b = (3, 4)
print(a + b)

(1, 2, 3, 4)

In [9]:
t = (1, 2)
print(t * 3)

(1, 2, 1, 2, 1, 2)

In [10]:
t = (5, 10, 15)
print(10 in t)   
print(20 in t)

True
False

In [ ]:
t = (5, 1, 8, 3)

print(len(t))   
print(max(t))   
print(min(t))   
print(sum(t))

4
8
1
17

In [ ]:
t = (1, 2, 2, 3)

print(t.count(2))  
print(t.index(1))

2
0

In [11]:
data = 10, 20, 30

a, b, c = data
print(a)  
print(b)  
print(c)

10
20
30

In [12]:
x = 5
y = 10
x, y = y, x
print(x, y)

10 5