In [2]:
def add(a,b):
    return a + b
print(add(5,7))

12

In [4]:
def add(a,b):
    sum = a+b
    sub = a-b
    div = a/b
    return sum , sub, div
a,b = 5,7
sum,sub,div = add(a,b)

print(sum,sub,div)

12 -2 0.7142857142857143

In [6]:
myset={1,2,2,3,4,"hello","hello"}
print(myset)

{1, 2, 3, 4, 'hello'}

In [14]:
set1 = {1,3,2,3}
set2 ={3,4,5}
set3 = {4,5,9}

union = set1 | set2 | set3
intersection = set1 & set2
diff = set1 - set2

print(union,"\n",intersection,"\n",diff)

{1, 2, 3, 4, 5, 9}
 {3}
 {1, 2}

In [13]:
myset = set()
myset.add(10)
myset.add(12)
myset.add(10)
myset.remove(10)

print(myset)

{12}

In [39]:
profile = {
    "name" : "sara" ,"age" : 2 , "skill": ["null"]
}
profile["skill"].append("talking")
profile["number"] = 123232
print(profile)

print(list(profile.keys()))
print(list(profile.values()))
print(list(profile.items()))

for i in profile["skill"]:
    print(i)
for i in list(profile.items()):
    k,v = i
    print(i,k,v)
for k,v in list(profile.items()):
    print(k,v)

{'name': 'sara', 'age': 2, 'skill': ['null', 'talking'], 'number': 123232}
['name', 'age', 'skill', 'number']
['sara', 2, ['null', 'talking'], 123232]
[('name', 'sara'), ('age', 2), ('skill', ['null', 'talking']), ('number', 123232)]
null
talking
('name', 'sara') name sara
('age', 2) age 2
('skill', ['null', 'talking']) skill ['null', 'talking']
('number', 123232) number 123232
name sara
age 2
skill ['null', 'talking']
number 123232

In [33]:
#tupple

mytupple = (5,3)
print(mytupple)

(5, 3)

In [44]:
profile1 = {"name" : "sara" ,"age" : 2 , "skill": ["talking"]}  #DICTIONARY
profile2 = {"name" : "mikasa" ,"age" : 27 , "skill": ["fighting"]}
profile3 = {"name" : "eren yeager" ,"age" : 29 , "hobby": "killing"}


peopleDB["ID1"] = profile1
peopleDB["ID2"] = profile2
peopleDB["ID3"] = profile3

print(peopleDB)

print(peopleDB["ID1"])
print(peopleDB["ID2"])
print(peopleDB["ID3"])

{'ID1': {'name': 'sara', 'age': 2, 'skill': ['talking']}, 'ID2': {'name': 'mikasa', 'age': 27, 'skill': ['fighting']}, 'ID3': {'name': 'eren yeager', 'age': 29, 'hobby': 'killing'}}
{'name': 'sara', 'age': 2, 'skill': ['talking']}
{'name': 'mikasa', 'age': 27, 'skill': ['fighting']}
{'name': 'eren yeager', 'age': 29, 'hobby': 'killing'}

In [ ]:
with open("myfile.txt", "a" , encoding = 'utf-8') as myF:
     encoding = 'utf-8') as myF:
with open("myfile.txt", "r" , encoding = 'utf-8') as myF:
    contents = myF.read()
    print(contents)

hello therehello there